@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Orange: #ff7d1a;
    --Light-orange: #ffede0;
    --Very-dark-blue: #1d2025;
    --Gray: #68707d;
    --Light-gray: #b6bcc8;
    --Dark-white: #f7f8fd;
    --White: #ffffff;
    --Black: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Kumbh Sans;
}

.fixed-position {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--Black);
}

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
} 

/* NAVIGATION */

header {
    width: 100vw;
    min-height: 5rem;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left, .right {
    display: flex;
    align-items: center;
}

.left {
    justify-content: space-between;
    height: 100%;
}

.list {
    list-style: none;
    display: flex;
    column-gap: 2rem;
}

.list a {
    color: var(--Gray);
    transition: .3s;
}

.cart-btn {
    margin-left: 1.5rem;
}

.cart-btn span {
    visibility: hidden;
    /* display: block; */
    position: absolute;
    translate: .5rem -.3rem;
    background: var(--Orange);
    padding: 1px 7px;
    font-size: .6rem;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.cart-btn a svg path {
    transition: .3s;
}

.cart-items {
    position: absolute;
    top: 5.5rem;
    width: 96%;
    left: 2%;
    height: 0rem;
    background: var(--White);
    border-radius: 0.7rem;
    z-index: 999;
    transition: .3s;
    visibility: hidden;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 1);
}

.all-items-full {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    column-gap: 1rem;
}

.cart-photo  {
    width: 20%;
    height: 100%;
    border-radius: .5rem;
    display: grid;
    place-items: center;
}

.cart-photo img {
    width: 100%;
    border-radius: .4rem;
}

.cart-info {
    width: calc(75% - 2rem);
    color: var(--Gray);
    font-size: clamp(.8rem, 1rem 1.2rem);
    margin: auto 0;
    line-height: clamp(1, 1.4, 1.8);
}

.cart-info p:nth-of-type(2) span:nth-of-type(2) {
    color: var(--Black);
    font-weight: 700;
}

.total-cost {
    margin-left: 5px;
}

.cart-trash {
    width: 5%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.all-items-full button {
    background: var(--Orange);
    border: none;
    color: var(--White);
    width: 100%;
    font-weight: 700;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}

.cart-items * {
    visibility: hidden;
}

.cart-items.cart-open * {
    visibility: visible;
}

.cart-items.cart-open {
    height: fit-content;
    visibility: visible;
}

.cart-items.cart-items.cart-open {
    height: 15rem;
    overflow: hidden;
}

.cart-items h2 {
    font-size: 1.2rem;
    padding: 1.4rem 1.2rem;
    border-bottom: 2px solid var(--Light-gray);
}

.all-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: calc(100% - 5.5rem);
    border-radius: 0 0 0.7rem .7rem;
    overflow: hidden;
}

.all-items p {
    font-weight: 700;
    color: var(--Gray);
    padding: 3rem 0;
    transition: .3s;
}

.profile-btn a {
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: .3s;
}

/* MAIN */

.photo-btn {
    width: 100%;
    display: grid;
    place-items: center;
    transition: .3s;
    border: 3px solid transparent;
    border-radius: 0.5rem;
}

.photo-btn img {
    width: 100%;
}

.active-photo {
    border: 3px solid var(--Orange);
    border-radius: 0.7rem;
}

.active-photo img {
    filter: opacity(.5);
}

.buy h3 {
    color: var(--Orange);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8rem;
}

.buy h1 {
    color: var(--Black);
    font-size: 3rem;
    line-height: 3.2rem;
}

.buy p {
    color: var(--Gray);
    line-height: 1.7rem;
}

.price h2 {
    font-size: 2rem;
}

.price p {
    background: var(--Light-orange);
    color: var(--Orange);
    padding: 2px 8px;
    font-weight: 700;
    border-radius: 4px;
    font-size: 1rem;
}

.old-price {
    text-decoration: line-through;
    font-weight: 700;
    color: var(--Light-gray) !important;
    translate: 0 -1.2rem;
}

.amount {
    display: flex;
    align-items: center;
    min-height: 3rem;
    background: var(--Dark-white);
    border-radius: .8rem;
    column-gap: 2rem;
}

.amount button {
    border: none;
    background: transparent;
    padding: 1rem 1rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: .3s;
}

.amount-number p{
    font-weight: 700;
    color: var(--Black);
    min-width: 1.5rem;
    display: grid;
    place-items: center;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    border: none;
    color: var(--White);
    padding: 1rem 5rem;
    font-weight: 700;
    background: var(--Orange);
    border-radius: 0.8rem;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 20px 50px -15px var(--Orange);
    transition: .3s;
}

.add-to-cart p {
    color: var(--White);
    font-size: 1rem;
}

@media (max-width: 400px) {

    .buttons {
        flex-wrap: wrap;
    }

    .amount {
        width: 100%;
        display: flex;
        justify-content: space-between;
        min-height: 3.5rem;
    }

    .add-to-cart {
        width: 100%;
    }

}

@media (max-width: 800px) {

    header {
        padding: 1rem;
    }

    .left, .right {
        height: 100%;
        column-gap: 1rem;
    }

    .mobile-nav-toggle {
        width: 1.5rem;
        aspect-ratio: 1;
        background: url(images/icon-menu.svg);
        background-repeat: no-repeat;
        border: none;
        background-position: center;
        z-index: 2000;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(./images/icon-close.svg);
    }

    .primary-navigation {
        position: fixed;
        inset: 0 40% 0 0;
        overflow: hidden;
        transition: .3s ease-out;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        background: var(--White);
        z-index: 1;
        padding: 6rem 1.5rem 0;
        translate: -100% 0;
    } 
    
    .primary-navigation[data-visble="true"] {
        translate: 0%;
    }

    .list a {
        font-weight: 700;
        color: var(--Black);
    }

    /* MAIN */

    .buy {
        padding: 1rem;
    }

    .profile-picture {
        height: 2rem;
    }

    .main-photo img {
        width: 100%;
    }

    .btn-layer {
        aspect-ratio: 1;
        width: 100%;
        position: absolute;
        top: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .btn-layer button{
        border: none;
        background: var(--Dark-white);
        width: 2rem;
        height: 2rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        transition: .3s;
    }

    .btn-layer svg {
        scale: .6;  
        stroke: var(--Black);
    }

    .btn-layer path {
        stroke-width: 4;
    }

    .previous-photo svg {
        translate: -1px;
    }

    .next-photo svg {
        translate: 1px;
    }

    .photo-list {
        display: none;
    }

    .first-photo, .second-photo, .third-photo, .fourth-photo {
        display: none;
    }

    .buy {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .price {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    .buttons {
        display: flex;
        column-gap: 1rem;
        row-gap: 1rem;
    }

}

@media (max-width: 899px) {
    .left {
        column-gap: 2rem !important;
    }

    .list {
        column-gap: 1rem;
    }
}

@media (min-width: 801px) {

    /* NAVIGATION */

    header {    
        padding: 1rem 4rem;
        margin-bottom: 3rem;
    }

    nav {
        border-bottom: 1px solid var(--Light-gray);
        padding-bottom: 2rem;
    }

    .menu-btn {
        display: none;
    }

    .menu svg {
        display: none;
    }

    .left {
        column-gap: 4rem;
    }

    .right {
        column-gap: 2rem;
    }

    .cart-items {
        position: absolute;
        right: 0;
        left: calc(94% - 20rem);
        width: 20rem;
    }

    .cart-items.cart-items.cart-open {
        height: 15rem;
        overflow: hidden;
    }

    .profile-picture {
        height: 3rem;
    }


    /* MAIN */

    main {
        display: flex;
        padding: 0rem 6rem;
    }

    .photos, .buy {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .buy {
        row-gap: 1.5rem;
        padding-top: 5%;
    }

    .photos {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .photos button {
        display: none;
    }

    .main-photo img {
        width: 80%;
        border-radius: 1.2rem;
    }

    .photo-list {
        max-width: 80%;
        display: flex;
        column-gap: 2%;
        overflow: hidden;
    }

    .photo-list img {
        width: 100%;
        border-radius: .5rem;
        cursor: pointer;
    }

    /* BUY SECTION */

    .price {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    .buttons {
        display: flex;
        column-gap: 1rem;
    }

    /* ANIMATIONS */

    .list a::after {
        display: block;
        content: "";
        width: 0%;
        transition: .3s;
        height: 4px;
        background: var(--Orange);
        translate: 0 2.9rem;
    }

}

@media (min-width: 1000px) {

    header {    
        padding: 1rem 6rem;
    }

    /* MAIN */

    main {
        padding: 0 9rem;
    }
}

@media (min-width: 1200px) {

    header {
        padding: 1rem 10rem;
    }

    /* MAIN */ 

    main {
        padding: 0 15rem;
    }

}

/* ACTIVE STAGES */


.list a:hover {
    color: var(--Black);
}

.list a:hover::after {
    width: 100%;
}

.cart-btn a:hover svg path {
    fill: #000000;
}

.photo-btn:not(.active-photo):hover {
    filter: opacity(0.7);
}

.amount button:hover {
    filter: opacity(0.5);
}

.add-to-cart:hover {
    filter: opacity(0.7);
}

.profile-btn a:hover {
    border: 2px solid var(--Orange);
}

/* ANIMATIONS */